*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

#regInfo{
    margin-top: 20px;
    background-color:rgba(128, 128, 128, 0.265);
    width: 100vw;
    height: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.frontTop {
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 12vh;
    box-shadow: 1px 1px 10px 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.vitlogo {
    width: 70px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.frontTop span {
    font-size: 20px;
}

.FallSem p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.campus p {
    font-weight: bold;
    margin: 0;
}
#table1Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#table1{
    border-collapse: collapse;
    width: 1350px;
}

th,td{
    border: 1px solid rgb(0, 102, 255);
    text-align: center  ;
}

thead{
    background: rgb(19,195,143);
    background: linear-gradient(90deg, rgb(19, 206, 239) 0%, rgb(0, 141, 197) 0%, rgb(0, 40, 126) 100%);
    color: white;
}
th{
    height: 70px;
    font-size: 20px;
}
tr{
    height: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr:nth-child(even){
    background-color: rgba(114, 114, 114, 0.126);
}

tr:hover{
    background-color: rgba(0, 140, 255, 0.678);
    color: white;
}

#vm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}


#table2Container{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

#table2{
    border-collapse: collapse;
    width: 600px;
    font-size: 20px;    
}

#regCr{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 1px;
}

#goBackContainer{
    margin-left: 1100px;
    margin-top: 50px;
}

#goBack{
    background-color: black;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 100px;
}

#goBack:hover{
    box-shadow: 2px 2px 2px 2px gray;
    background-color:brown ;
    transform: translateY(-5px);
}

#goBack:active{
    background-color: red;
    transform: rotateX(10px);
}